<div class="container fs-card-box">
    <div class="row">
      <div class="card fs-card">
        <div class="card-image waves-effect waves-block waves-light">
            <%=image_tag passenger.avatar, class: "activator"%>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4 card-name">
              <%=passenger.name%>
              <i class="material-icons right">more_vert</i>
          </span>
          <p class="card-seat">
              <%=passenger.seat%>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title activator grey-text text-darken-4 card-name">
              <%=passenger.name%>
              <i class="material-icons right">more_vert</i>
          </span>
          <p class="card-work">
              <%=passenger.work%>
          </p>
          <p>
            <i class="fa fa-facebook-official fa-3x"></i>
            <i class="fa fa-linkedin-square fa-3x"></i>
          </p>
            <p class="card-comment">
                "<%=passenger.comments%>"
            </p>
        </div>
      </div>
    </div>
</div>
